	<div class="container footer">
    	<div> &copy; 2019 - YelpCamp </div>
    	<div>
        	<div class ="icon"><a href="https://github.com/SKZhao97">
				<i class="fab fa-github"></i> Github </a></div>
        	<div class ="icon"><a href="https://www.linkedin.com/in/sikai-zhao-279488166/">
				<i class="fab fa-linkedin"></i> LinkedIn </a></div>
			<div class ="icon"><a href="mailto:sikaizhao@gatech.edu">
				<i class="fa fa-envelope"></i> Contact </a></div>
    	</div>
	</div>
		<script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"
            integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw"
            crossorigin="anonymous"></script>
	</body>
</html>