.thumbnail img{
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

.jumb-image {
	background-image: url("/images/jumboBackground.jpg");
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
}

.welcome {
	font-size: 100%;
	color:white;
}
.delete-form {
	display:inline;
}

.title-middle {
	text-align: center;
}

.form-middle {
	width: 30%; 
	margin: 25px auto;
}

#map {
	height: 400px;
	width: 100%;
}

.footer {
	text-align: center;
}

.icon {
	display:inline;
	margin: 0 10px;
}
