.thumbnail img{
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

.delete-form {
	display:inline;
}

.title-middle {
	text-align: center;
}

.form-middle {
	width: 30%; 
	margin: 25px auto;
}

#map {
	height: 400px;
	width: 100%;
}